# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/*
data/processed/*
data/kolektorsdd2-DatasetNinja/

# Model checkpoints
*.pth
*.pt
*.ckpt
*.onnx

# Experiment outputs
experiments/*/checkpoints/
experiments/*/logs/

# Results
results/predictions/*
results/figures/*

# Secrets
.env
*.key

# OS / IDE
.DS_Store
Thumbs.db
.vscode/